@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 240 10% 3.9%;
        --foreground: 0 0% 95%;
        --card: 24 9.8% 10%;
        --card-foreground: 0 0% 95%;
        --popover: 0 0% 9%;
        --popover-foreground: 0 0% 95%;
        --primary: 346.8 77.2% 49.8%;
        --primary-foreground: 355.7 100% 97.3%;
        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 0 0% 15%;
        --muted-foreground: 240 5% 64.9%;
        --accent: 12 6.5% 15.1%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 85.7% 97.3%;
        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 346.8 77.2% 49.8%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 20 14.3% 4.1%;
        --foreground: 0 0% 95%;
        --card: 24 9.8% 10%;
        --card-foreground: 0 0% 95%;
        --popover: 0 0% 9%;
        --popover-foreground: 0 0% 95%;
        --primary: 346.8 77.2% 49.8%;
        --primary-foreground: 355.7 100% 97.3%;
        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 0 0% 15%;
        --muted-foreground: 240 5% 64.9%;
        --accent: 12 6.5% 15.1%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 85.7% 97.3%;
        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 346.8 77.2% 49.8%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }

    @font-face {
        font-family: Migra;
        src: url(./fonts/Migra/Migra-Extrabold.otf);
    }

    @font-face {
        font-family: Game;
        src: url(./fonts/game-reality.otf);
    }
}

@layer components {
    input[type="range"] {
        @apply appearance-none bg-transparent accent-white;
    }

    input[type="range"]::-webkit-slider-runnable-track {
        @apply bg-gray-700 rounded-full h-1.5  accent-white;
    }

    input[type="range"]::-moz-range-track {
        @apply bg-gray-700 rounded-full  h-1.5;
    }

    input[type="range"]::-ms-track {
        @apply bg-gray-700 rounded-full  h-1.5;
    }
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 0;
    width: 0;
    border-radius: 50%;
    accent-color: white;
    background: goldenrod;
    margin-top: -4px;
}

input[type="range"]::-moz-range-thumb {
    border: none;
    height: 0;
    width: 0;
    border-radius: 50%;
    background: goldenrod;
    accent-color: white;
}

input[type="range"]::-ms-thumb {
    border: none;
    height: 0;
    width: 0;
    border-radius: 50%;
    accent-color: white;
    background: goldenrod;
}
